body{
    background-color: #AC89E8;
    color:#311b57;
}
.nav-ul{
    display: inline-block;
    margin: 5px;
    float: right;
}
image {
    display: inline-block;
}
p {
    display: inline-block;
}
